version: 2

workflows:
  version: 2
  workflow:
    jobs:
      - test-2.7
      - test-3.6

defaults: &defaults
  working_directory: ~/code
  steps:
  - checkout
  - run:
      name: Install dependencies
      command: sudo pip install -r requirements.txt
  - run:
      name: Test
      command: pytest

jobs:
  test-2.7:
    <<: *defaults
    docker:
    - image: circleci/python:2.7
  test-3.6:
    <<: *defaults
    docker:
    - image: circleci/python:3.6
